@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
  font-family: 'Aboreto', cursive;
    font-size: 22px;
    color: #000;
}

body {
    min-height: 100vh;
    background-color: white;
    background-image: url("./assets/backgroundcouple.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh; 
  padding: 1rem 0.5rem;
}

.contentBox {
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1rem;
    background-color: #E6E6E6;
    border-radius: 10px;
    color: #63666A;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
    padding-bottom: 1rem;
}

a, a:visited {
    color: black;
}

input, 
button,
textarea {
  font-family: 'Facinate', sans-serif;
  font-size: 22px;
  padding: 0.25rem;
  border-radius: 25px;
}

label,
button {
  margin-top: 1rem;
}

.instructions {
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: #000;
    color: #fff;
    padding: 0.25rem;
    position: relative;
    bottom: -10px;
}

.instructions > svg {
    margin-right: 0.25rem;
}

.offscreen {
    position: absolute;
    left: -9999px;
}

.hide {
    display: none;
}

.valid {
    color: limegreen;
    margin-left: 0.25rem;
}

.invalid {
    color: red;
    margin-left: 0.25rem;
}

.errmsg {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.line {
    display: inline-block;
}

h1 {
  text-align: center;
  padding: 10px;
}

.facebook {
  border-radius: 10px;
  margin: 0 auto;
  border-radius: 25px;
}

@media only screen and (max-width: 600px) {
  section {
    width: 100%;
  }

  body {
    background-image: none;
  }

div {
  margin: 0 auto;
  width: 95%;
}
}

.boxSidebar {
  position: relative;
}

.btn{
  margin: 0 auto;
  border: none;
  outline: none;
  padding: .75em 1em;
  font-size: 1em;
  letter-spacing: 1px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, .4);
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 3px;
  background-color: rgb(134, 49, 0);
  color: #fff;
}

.sidebar{
  flex-shrink: 0;
  overflow: auto;
  position: absolute;
  background-color: #E6E6E6;
  color: #63666A;
  width: 20%;
  left:0px;
  height: 100%;
  padding: 20px;
}


.sidebar-item{
  padding: .75em 1em;
  display: block;
  transition: background-color .15s;
  border-radius: 5px;
}
.sidebar-item:hover{
  background-color: rgba(255, 255, 255, .1);
}

.sidebar-title span i{
  display: inline-block;
  width: 1.5em;
}
.sidebar-title .toggle-btn{
  cursor: pointer;
  transition: transform .3s;
}
.sidebar-item.open > .sidebar-title .toggle-btn{
  transform: rotate(180deg);
}
.sidebar-content{
  padding-top: .25em;
  height: 0;
  overflow: hidden;
}
.sidebar-item.open > .sidebar-content{
  height: auto;
}

.sidebar-item.plain{
  color: #63666A;
  text-decoration: none;
}

.sidebar-item.plain i{
  display: inline-block;
  width: 1.7em;
}

.fillerBox {
  height: 50px;
  width: 50px;
  background-color: black;
  margin: 5px;
  float: left;
  display:block;
}

.fillerLocationBox {
  height: auto;
  width: auto;
  margin: 5px;
  border-radius: 10px;
  display: flex;
}

.fillerCircle {
  background-color: black;
  height:50px;
  border-radius: 50%;
  width:50px;
}

.contactInfo {
  font-size: 15px;
  padding: 0 10px;
}

.fillerLocationBox img {
  height: 100px;
  width: 100px;
}

.loginButton .google {
  height: 15px;
  width: 100px;
  background-color: red;
  color: white;
}